body {
  background-image: url("../images/bg-image-css.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  background-color: gray;
  /* color: white; */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#container {
  margin: auto;
  padding: 10px;
  /* background-color: rgba(39, 33, 33, 0.479); */
}
h1,
h2 {
  color: rgb(95, 98, 138);
}
#mood {
  margin-left: 50px;
  margin-right: 150px;
}
#happy {
  float: left;
  width: auto;
}
#sad {
  float: right;
  width: auto;
}
#neighbor {
  clear: both;
}
.hobby {
  color: rgb(224, 28, 28);
  font-size: larger;
}
.neighbor {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: larger;
  color: brown;
}
.validator {
  width: 8%;
  float: left;
}
.title {
  color: rgb(223, 223, 23);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
